<div class="content">

        <div class="container-fluid">

            <!-- upper main stats -->
            <div id="main-stats">
                <div class="row-fluid stats-row">
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">212155</span>
                            原帖数
                        </div>
                        <span class="date">2015年-2017年5月数据</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">208886</span>
                            帖子数
                        </div>
                        <span class="date">去除删除了的帖子</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">189146</span>
                            用户数
                        </div>
                        <span class="date">2015-2017年活跃的用户</span>
                    </div>
                    <div class="span3 stat last">
                        <div class="data">
                            <span class="number">21960</span>
                            会员数
                        </div>
                        <span class="date">2017年5月的所有会员数</span>
                    </div>
                </div>
            </div>
            <!-- end upper main stats -->

            <div id="pad-wrapper">
                <div class="" style="width:50px; height: 300px; float: left; "></div>
                <div class="" style="width: 850px; height: 300px;">

                    <div class="" style="width:50px; height: 300px; float: left; "></div>

                    <div class="alert alert-info">
                        <!--<i class="icon-lightbulb"></i>-->
                        <br>
                        <div class="data">数据分析网站简介</div>
                        This page shows an example of an alternative layout with the main navbar on the top
                        <br> using <strong>.content.wide-content</strong> for this main container
                    </div>


                    <div id="client_type" style="width: 400px;height:300px;float: left;"></div>

                 </div>
                <div id="statsChart" style="padding: 0px; position: relative;">


                </div>

            </div>
                <!-- end statistics chart -->

            <!-- UI Elements section -->
            <div class="row-fluid section ui-elements">

            </div>
            <!-- end UI elements section -->

            <!-- table sample -->
            <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->


            <div class="table-products section">

            </div>

            <!-- end table sample -->
        </div>
    </div>