<div class="content">
        <div class="container-fluid">
            <!-- upper main stats -->
            <div id="main-stats">
                <div class="row-fluid stats-row">
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">212155</span>
                            原帖数
                        </div>
                        <span class="date">2015年-2017年5月数据</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">208886</span>
                            帖子数
                        </div>
                        <span class="date">去除删除了的帖子</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">189146</span>
                            用户数
                        </div>
                        <span class="date">2015-2017年活跃的用户</span>
                    </div>
                    <div class="span3 stat last">
                        <div class="data">
                            <span class="number">21960</span>
                            会员数
                        </div>
                        <span class="date">2017年5月的所有会员数</span>
                    </div>
                </div>
            </div>
            <!-- end upper main stats -->

            <div id="pad-wrapper">
                <div class="" style="width: 1100px; height: 300px;">

                    <div class="" style="width:20px; height: 300px; float: left; "></div>
                    <div id="client_type" style="width: 400px; height:400px; float:left;">
                        <img src="../../static/img/daxue.png">
                    </div>
                    <div class="" style="width:20px; height: 300px; float: left; "></div>
                    <div id="explain" style="width: 500px;height:400px;float: left;">
                        <div align="center" style="padding-top: 40px;">
                            <h4 class="number" style="float: left; color: #0066cc">数据分析结论：</h4>
                        <br>
                            <div style="height: 10px; width: 500px;"></div>
                            <h5 style="float:left; padding-left: 100px;">
                                1. 大学吧中学生们广泛讨论的果然是大学生活和学习。
                            </h5>
                        <br>
                            <div style="height: 10px; width: 500px;"></div>
                            <h5 style="float:left; padding-left: 100px;">
                                2. 大家广泛关注的一类人是： 学姐。
                            </h5>
                        <br>
                            <div style="height: 10px; width: 500px;"></div>
                            <h5 style="float:left; padding-left: 100px;">
                                3. 在贴吧中，有大量的求助帖，大家都喜欢到贴吧需求帮助。
                            </h5>
                        </div>
                        <br>
                            <div style="height: 10px; width: 500px;"></div>
                            <h5 style="float:left; padding-left: 100px;">
                                4. 有大量的有关高三学生的话题，在大学吧中广泛讨论等。
                            </h5>
                        </div>
                    </div>

                 </div>
                <div id="statsChart" style="padding: 0px; position: relative;">
                </div>
            </div>
                <!-- end statistics chart -->

            <!-- UI Elements section -->
            <div class="row-fluid section ui-elements">

            </div>
            <!-- end UI elements section -->

            <!-- table sample -->
            <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
            <div class="table-products section">

            </div>

            <!-- end table sample -->
        </div>
    </div>
